<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-sub-header">
                        <h3 class="page-title">Danh sách học sinh</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="students.html">Student</a></li>
                            <li class="breadcrumb-item active">All Students</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="student-group-form">
            <div class="row">
                <!-- <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm theo ID ...">
                    </div>
                </div> -->
                <div class="col-lg-3 col-md-6">
                    <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Tìm theo tên ..."
                          [(ngModel)]="searchName"
                          (keyup.enter)="searchStudentsByName()"
                        >
                      </div>
                </div>
               
                <div class="col-lg-2">
                    <div class="search-student-btn">
                        <button type="btn" class="btn btn-primary" (click)="searchStudentsByName()">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table comman-shadow">
                    <div class="card-body">

                        <div class="page-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="page-title">Học sinh</h3>
                                </div>
                                <div class="col-auto text-end float-end ms-auto download-grp">
                                    <a href="students.html" class="btn btn-outline-gray me-2 active"><i
                                            class="feather-list"></i></a>
                                    <a href="students-grid.html" class="btn btn-outline-gray me-2"><i
                                            class="feather-grid"></i></a>
                                    <a (click)="downloadCSV()" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Tải
                                        xuống</a>
                                    <a href="add-student" class="btn btn-primary"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table
                                class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                <thead class="student-thread">
                                    <tr>
                                        <!-- <th>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox"
                                                    value="something">
                                            </div>
                                        </th> -->
                                        <th>ID</th>
                                        <th>Họ và Tên</th>
                                        <th>Ngày Sinh</th>
                                        <th>Giới Tính</th>
                                        <th>Lớp</th>
                                        <th>Người giám hộ</th>
                                        <!-- <th>Địa chỉ</th> -->
                                        <th class="text-end">Hành động</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let student of students">
                                    
                                    <tr>
                                        <!-- <td>
                                            <div class="form-check check-tables">
                                                <input class="form-check-input" type="checkbox"
                                                    value="something">
                                            </div>
                                        </td> -->
                                        <td>{{student.id}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a [routerLink]="['/student-detail', student.id]" class="avatar avatar-sm me-2"><img
                                                        class="avatar-img rounded-circle"
                                                        [src]="'http://localhost:3105' + student.image" alt="User Image"></a>
                                                <a [routerLink]="['/student-detail', student.id]">{{student.full_name}}</a>
                                            </h2>
                                        </td>
                                        <td>{{ student.date_of_birth | date:'dd-MM-yyyy' }}</td>
                                        <td>{{ student.gender === 'male' ? 'Nam' : student.gender === 'female' ? 'Nữ' : 'Không xác định' }}</td>

                                        <td>{{ student.classes.length > 0 ? student.classes[0].name : 'Chưa có lớp' }}</td>
                                        <td>{{ student.parent?.full_name || 'Không có phụ huynh' }}</td>
                                        <!-- <td>911 Deer Ridge Drive,USA</td> -->
                                        <td class="text-end">
                                            <div class="actions ">
                                                <a [routerLink]="['/student-detail', student.id]" class="btn btn-sm bg-success-light me-2 ">
                                                    <i class="feather-eye"></i>
                                                </a>
                                                <a  [routerLink]="['/edit-student', student.id]" class="btn btn-sm bg-danger-light">
                                                    <i class="feather-edit"></i>
                                                </a>
                                                <a (click)="openDeleteModal(student.id)" class="btn btn-sm bg-danger-light">
                                                    <i class="feather-trash-2"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal xác nhận xóa -->
<div class="modal" [class.show]="showDeleteModal" tabindex="-1" style="display: block;" *ngIf="showDeleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa học sinh này không?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Hủy</button>
          <button type="button" class="btn btn-danger" (click)="confirmDelete()">Xóa</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Thanh thông báo success -->
  <div class="notification" [class.show]="showSuccessNotification">
    <div class="alert alert-success">
      
        {{notificationMessage}}
      
    </div>
  </div>

    <app-footer></app-footer>

</div>
