<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col">
                    <h3 class="page-title">Gửi thông báo </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Compose</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4">
                <ul class="inbox-menu">
                    <li class="active">
                        <a href="#"><i class="fas fa-download"></i> Tin nhắn <span
                                class="mail-count">(5)</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-star"></i> Quan trọng</a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-paper-plane"></i> Gửi mail</a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-file-alt"></i> Bản nháp <span
                                class="mail-count">(13)</span></a>
                    </li>
                    <li>
                        <a href="#"><i class="far fa-trash-alt"></i> Thùng rác</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form action="inbox.html">
                            <div class="form-group">
                                <input type="email" placeholder="To" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Cc" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" placeholder="Bcc" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Subject" class="form-control">
                            </div>
                            <div class="form-group">
                                <textarea rows="4" class="form-control summernote"
                                    placeholder="Enter your message here"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <div class="text-center">
                                    <button class="btn btn-primary"><i class="fas fa-paper-plane m-r-5"></i>
                                        <span>Gửi</span></button>
                                    <button class="btn btn-success m-l-5" type="button"> <i
                                            class="far fa-save m-r-5"></i> <span>Nháp</span></button>
                                    <button class="btn btn-danger m-l-5" type="button"> <i
                                            class="far fa-trash-alt m-r-5"></i><span>Xóa</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>