/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-dialog {
    margin: 15% auto;
    width: 90%;
    max-width: 500px;
  }
  
  /* Notification */
  .notification {
    position: fixed;
   top: 60px;
    right: -300px; /* Ẩn mặc định */
    width: 300px;
    transition: right 0.5s ease-in-out;
    z-index: 1000;
  }
  
  .notification.show {
    right: 20px; /* Hiện ra */
  }
  
  .alert-success {
    margin: 0;
  }